@import 'tailwindcss';

@theme inline {
  --color-primary-theme: #f5b027;
  --color-secondary-theme: #232323;
  --color-primary-accent: #2a8962;
  --color-secondary-accent: #4f6fa0;
  --color-card-background: #f2f2f2;
  --color-main-text: #333333;
  --color-muted-text: #989898;
  --color-inverse-text: #ffffff;
  --color-alert-error: #dc3646;
  --color-alert-warning: #fcb700;
  --color-alert-success: #00d290;
  --color-alert-background-error: #fff3f4;
  --color-alert-background-warning: #fffaef;
  --color-alert-background-success: #f1fbf6;
}

@layer base {
  body {
    @apply text-main-text;
  }

  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-lg;
  }

  p {
    @apply text-base;
  }
}

@layer components {
  .h2-light,
  .h3-light {
    @apply font-light;
  }

  .small-text {
    @apply text-[14px];
  }

  .header-btn {
    @apply bg-primary-theme text-main-text px-4 py-1 rounded-lg hover:bg-secondary-accent hover:text-white hover:cursor-pointer  active:bg-card-background active:text-muted-text;
  }

  .abort-btn {
    @apply bg-alert-background-error text-alert-error border-alert-error border px-4 py-1 rounded-lg hover:bg-alert-error hover:text-white hover:cursor-pointer  active:bg-card-background active:text-muted-text active:border-none;
  }

  .add-item-btn {
    @apply bg-secondary-accent text-white px-8 py-4 rounded-lg hover:bg-primary-theme hover:text-main-text hover:cursor-pointer active:bg-card-background active:text-muted-text;
  }
}
