@import 'tailwindcss';

@theme inline {
  --color-primary-theme: #f5b027;
  --color-secondary-theme: #232323;
  --color-primary-accent: #2a8962;
  --color-secondary-accent: #4f6fa0;
  --color-main-text: #333333;
  --color-muted-text: #989898;
  --color-inverse-text: #ffffff;
}
